/* Css Reset */

* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border-collapse: collapse;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

p, a, span {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.list_style_none{
    list-style: none;
}

a {
    text-decoration: none;
    color: #d8d4cf;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* margin: auto; */
    padding: 0 60px;
    max-width: 1500px;
    /* Perluas lebar container */
}

.d_flex {
    display: flex;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* .clearfix {
    *zoom: 1;
} */

.color_white {
    color: white;
}