@font-face {
    font-family: 'Dracolas';
    src: url(assets/font/dracolas/Dracolas.ttf);
}

body {
    background: linear-gradient(to top, #f6c2e6 30%, #461065);
}

/* Global Styles */
.no-scroll {
    overflow: hidden;
}

.nav-disabled a {
    display: none;
}

/* Maskot Bounce Animation */
.maskot {
    animation: maskot-bounce 2s infinite ease-in-out;
    /* Durasi 2 detik, infinite untuk looping */
}

/* Animasi bouncing */
@keyframes maskot-bounce {

    0%,
    100% {
        transform: translateY(0);
        /* Posisi awal dan akhir */
    }

    50% {
        transform: translateY(-10px);
        /* Puncak gerakan ke atas */
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5%;
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(70, 16, 101, 0);
    z-index: 100;
    transition: background 0.3s ease, padding 0.3s ease;
}

header.sticky {
    position: fixed;
    background: rgba(70, 16, 101, 0.9);
    padding: 10px 5%;
}

header h1 {
    font-family: 'Dracolas', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: bold;
    position: relative;
    text-shadow:
        0 0 5px rgba(255, 255, 255, 0.7),
        /* Efek glow halus */
        0 0 10px rgba(255, 255, 255, 0.5),
        /* Efek glow lebih kuat */
        0 0 15px rgba(255, 255, 255, 0.3);
    /* Efek lebih terang */
}

header h1 span {
    display: inline-block;
    position: relative;
    font-weight: bold;
    color: #fff;
    /* Warna teks */
    text-shadow:
        0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.6),
        0 0 30px rgba(255, 255, 255, 0.4);
}

@keyframes shiny {
    0% {
        transform: scaleX(1) translateX(-100%);
    }

    50% {
        transform: scaleX(1) translateX(100%);
    }

    100% {
        transform: scaleX(1) translateX(-100%);
    }
}

header nav {
    display: flex;
    gap: 30px;
}

header nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 99px;
    transition: 0.3s;
    color: white;
}

header nav a.active {
    background: #A852E5;
}

header nav a:hover {
    background: #A852E5;
}

.home {
    display: flex;
    min-height: 100vh;
    /* background: linear-gradient(to top, #f6c2e6 30%, #461065); */
    position: relative;
    overflow: hidden;
    /* margin-bottom: 60px; */
}

.home .title {
    position: absolute;
    top: 20%;
    /* left: 50%; */
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.home img {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

#lock {
    position: absolute;
    top: 63%;
    left: calc(63% - 191px);
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 25px;
    color: #7315bf;
    animation: bounce 1s infinite;
    transition: color 0.3s ease;
}

@keyframes bounce {
    0%, 100% {
        transform: translate(-50%, -45%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1);
    }
}

#lock:hover {
    color: #ffff;
}

#unlock-text {
    position: absolute;
    top: 68%;
    left: calc(63% - 182px);
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.4);
    padding: 5px 15px;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#lock:hover+#unlock-text {
    opacity: 1;
    transform: translate(-50%, -60%);
}

#lock.hidden,
#unlock-text.visible {
    display: none;
}

#unlock-text.visible {
    opacity: 1;
    transform: translate(-50%, -55%);
}

/* Burger Menu */
.burger_menu {
    display: none;
    cursor: pointer;
}

.burger--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.burger_items {
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
}

/* Nav Links */
.nav-links {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #461065;
    text-align: center;
    padding: 20px 0;
    z-index: 1;
}

.nav-links ul {
    list-style-type: none;
    padding: 0;
}

.nav-links ul li {
    margin: 15px 0;
}

.nav-links ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    transition: color 0.3s;
}

.nav-links ul li a:hover {
    color: #A852E5;
}

/* alert */
.alert {
    background: radial-gradient(circle, #AB58E6, #8e04e3);
    /* Gradasi radial dari tengah */
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 0;
    top: 10px;
    border-radius: 4px;
    border-left: 8px solid #fff;
    /* Gelap */
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}

.alert.showAlert {
    opacity: 1;
    pointer-events: auto;
}

.alert.show {
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(-10%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-10px);
    }
}

.alert.hide {
    animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
    0% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(0%);
    }

    80% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(100%);
    }
}

.alert .fa-exclamation-circle {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 30px;
}

.alert .msg {
    padding: 0 20px;
    font-size: 18px;
    color: #ffffff;
}

.alert .close-btn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: radial-gradient(circle, #AB58E6, #8e04e3);
    padding: 20px 18px;
    cursor: pointer;
}

.alert .close-btn:hover {
    background: radial-gradient(circle, #8e04e3, #AB58E6);
}

.alert .close-btn .fas {
    color: #fff;
    /* Gelap */
    font-size: 22px;
    line-height: 40px;
}



/* about-section branch */


/* About Us Wrapper */
.aboutUs--wrapper {
    margin: 60px 0;
    padding: 30px;
}

/* About Us Content */
.aboutUs_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Section Header */
.aboutUsChild h2 {
    font-family: 'Dracolas', sans-serif;
    text-align: center;
    padding-bottom: 15px;
}

/* Section Header */
.aboutUsChild p {
    text-align: justify;
    padding-bottom: 15px;
}

/* Cards Container */
.parrentAboutUs_center {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* Card Styling */
.childAboutUs_left,
.childAboutUs_center,
.childAboutUs_right {
    border-radius: 10px;
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-direction: column;
    align-items: center;
}

/* Styling untuk Card Deskripsi */
.childAboutUs_center {
    max-width: 800px;
    /* Lebar maksimal untuk deskripsi */
    margin-bottom: 20px;
}

.childAboutUs_left,
.childAboutUs_right {
    max-width: 400px;
    /* Maksimal lebar card */
}

/* Heading */
.childAboutUs_left h2,
.childAboutUs_center h2,
.childAboutUs_right h2 {
    font-size: 20px;
    color: #893BBE;
}

.video,
.coming_soon {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.coming_soon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #893BBE;
    color: #ffffff;
    padding: 30px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

/* Link Styling */
.view_more a {
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    color: #893BBE;
    border-radius: 5px;
    transition: 0.3s;
}

.view_more .desktop {
    display: none;
}

.view_more .mobile {
    display: none;
}

/* Responsive */
@media (max-width: 922px) {
    .parrentAboutUs_center {
        flex-direction: column;
        align-items: center;
    }

    .view_more .desktop {
        display: inline;
    }
}

@media (max-width: 540px) {
    .view_more .mobile {
        display: inline;
    }
}