/* Css Reset */

* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border-collapse: collapse;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #d8d4cf;
}

.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: auto;
}

.d_flex {
    display: flex;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* .clearfix {
    *zoom: 1;
} */

.color_white {
    color: white;
}

/* Style Css */

body {
    background-color: #131516;
    color: #d8d4cf;
    font-family: "Poppins", sans-serif;
    line-height: 1.8;
}

.list_style_none {
    list-style: none;
}

.text_justify,
p {
    text-align: justify;
}

.text_center {
    text-align: center;
}

mark {
    background-color: white;
    color: black;
    font-weight: bold;
    text-transform: capitalize;
}

.mg_top_15 {
    margin-top: 15px;
}

.mg_bot_30 {
    margin-bottom: 30px;
}

/* button */
.btn {
    margin-top: 30px;
    padding: 5px;
    color: black;
    text-align: center;
}

.btn_outline {
    background-color: #d8d4cf;
    border-radius: 20px;
    transition: 0.4s all ease;
}

a.btn_hover:hover {
    color: white;
    background: #f7630c;
    transition: all 0.25s linear;
}

/* header */

header {
    padding-top: 15px;
    position: sticky;
    top: 0;
    transition: top 0.3s ease;
    z-index: 10;
    background-color: #131516;
}

#header.show {
    top: -100px;
}

header .row {
    align-items: center;
}

header h1 {
    font-size: 32px;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav ul {
    display: inline-flex;
}

header nav a {
    font-size: 18px;
    margin-right: 30px;
    position: relative;
}

header nav a::after {
    content: "";
    position: absolute;
    width: 0;
    opacity: 0;
    height: 2px;
    left: 0;
    bottom: -0.43rem;
    background-color: white;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}

header nav a:hover::after {
    width: 100%;
    opacity: 1;
    transition: 0.6s;
}

/* main section */

.main_section_img {
    margin-top: 30px;
}

.main_section h2 {
    text-align: center;
    margin-bottom: 15px;
}

.main_section_img img {
    width: 60%;
    display: flex;
    margin: 0 auto;
}

.img_credit {
    font-size: 10px;
    margin-top: 5px;
}

.img_credit a {
    font-family: sans-serif !important;
}

.img_credit a:hover {
    color: #f60;
    transition: all 0.25s linear;
}

.main_section p {
    margin-top: 15px;
}

/* artikel section */

.artikel_section {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Item Artikel (Nasi Jamblang, Empal Asem, Empal Gentong, Tahu Gejrot, Mie koclok Cirebon) */

.item_artikel {
    margin-top: 15px;
}

.item_artikel h2 {
    margin-bottom: 15px;
}

.item_artikel img {
    width: 80%;
}

.p_item_artikel {
    align-items: center;
}

/* profile section */

.profile_section aside {
    border-top: 1px dotted #a8a8a8;
}

.profile_section h3 {
    margin-top: 15px;
}

.profile_section_content {
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.profile_section_content_p {
    margin-left: 15px;
}

.profile_section_content_img {
    align-items: center;
}

.profile_section_content_img img {
    width: 10%;
    border-radius: 50%;
}

/* footer */

footer {
    margin-top: 30px;
    background-color: #000000;
    padding: 30px;
    color: white;
}

.footer_sosmed {
    justify-content: flex-end;
}

.footer_sosmed i {
    font-size: 35px;
    padding-right: 15px;
}

/* burger menu */
/* Burger Style Css */

.burger_menu {
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 20px;
}

.burger_items {
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 5px 0;
    transition: 0.6s all ease;
}

.menu_mobile {
    font-size: 18px;
}

.menu_active .burger_menu .burger_items:nth-child(1) {
    transform: rotate(45deg);
    margin-top: 10px;
}

.menu_active .burger_menu .burger_items:nth-child(2) {
    display: none;
}

.menu_active .burger_menu .burger_items:nth-child(3) {
    transform: rotate(-45deg);
    margin-top: -6px;
}

/* baru */
body.menu_active {
    overflow: hidden;
}